@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

:root {
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--bs-blue);
  --tf-pill-bg: var(--bs-gray);
  --tf-icon-fill: var(--bs-gray);
  --tf-icon-hover: var(--bs-gray-500);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--bs-gray-200);
  --tf-projects-bg-color: var(--bs-gray-100);
}

.tf-social {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -.1em;
  transition: color .2s ease, transform .2s ease;
  color: var(--tf-icon-fill);
  fill: currentColor;
  stroke: currentColor;
}

.tf-social:hover,
a:hover .tf-social {
  color: var(--tf-icon-hover);
  transform: scale(1.05);
}

a { text-decoration: none; }

@media (max-width: 500px) {
  .navbar-brand { display: none; }
  .navbar-brand-mobile { display: inline; }
}

.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}
